// DO NOT USE SCSS TO WRITE STYLING RULES  
// SCSS is only used to define variables and customize bootstrap

// Customize BS variables
// Theme colors
$primary: #002f46;
$secondary: #E8476F;

@import "../../../../node_modules/bootstrap/scss/variables";

// Other variables
// Font sizes
$font-size-xs: $font-size-base * 0.75; // 12px
$font-size-sm: $font-size-base * 0.875; // 14px
$font-size-md: $font-size-base * 1.125; // 18px
$font-size-lg: $font-size-base * 1.25; // 20px
$font-size-xl: $font-size-base * 1.5; // 24px

// Since Emotion.js is used, make sure to define all the variables that are needed in the :root to make them accessible via JS
:root {
    --font-size-base: #{$font-size-base};
    --font-size-xs: #{$font-size-xs};
    --font-size-sm: #{$font-size-sm};
    --font-size-md: #{$font-size-md};
    --font-size-lg: #{$font-size-lg};
    --font-size-xl: #{$font-size-xl};
    --swiper-navigation-color: black
}